﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
	background-image:url(/Content/themes/base/images/body.png);
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


.outerPanel
{
	background-image:url(/Content/themes/base/images/outer.png);
	width: 1040px;
	margin: 50px auto;
}

.logo
{
	background-image: url(/Content/themes/base/images/lbg.png);
	width: 220px;
	height: 130px;
	text-align: center;
	float:left;
}

.logo h1 {
text-transform: uppercase;
margin: 80px 0px 0px 0px;
font-size: 32px;
font-weight: 400;
}
	.logo h1 a:link, .logo h1 a:visited
	{
		text-decoration:none;color:white;
	}
.page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

.site-header
{
	height: 150px;
}

.searchPanel
{
	float: right;
}

.searchbtn
{
	width: 40px;
	height: 40px;
	background: url(/Content/themes/base/images/sbutton.png) no-repeat;
	border: none;box-shadow: none;
}

.searchtxt
{
	background: transparent;
	border: none;
	width: 175px;
	color: #ddd;
	padding: 7px 10px;
	border-radius: 3px;
}

.site-main
{
	padding: 5px;
background: url(/Content/themes/base/images/main.png) repeat-y;
}
.menuPanel
{
	float: right;
	clear:right;
}