﻿@using Turner.Model
@model Title

@{
    ViewBag.Title = "Title Detail";
}

<h2>Detail</h2>

<h3>@Model.TitleName</h3>
@foreach (StoryLine storyLine in @Model.StoryLines)
{
    <p>
    @storyLine.Description</p>
}
